# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
Backend/.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log
Backend/reports/

# ==========================
# Vector Database
# ==========================
Backend/vector_db/

# ==========================
# Local Models
# ==========================
Backend/models/

# ==========================
# Temporary Files
# ==========================
*.tmp
*.wav

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db